  body {
    background-color: rgba(207, 175, 238, 0.966);
    background-image: url(imagenes/backround.jpg);
    background-size:contain;
    background-repeat: repeat-y;
    text-align: left;
}

/* BARRA DE NAVEGACION */
nav {
    position: sticky;
    top: 0rem;
    left: 0rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 2rem;
    background-color:rgba(235, 204, 235, 0.966);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    color: rgba(97, 5, 105, 0.966);
  }

/*Titulo de la Barra de Navegacion  */
  nav h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
  }
  
  /* Texto de la Barra de Navegacion */
  nav p {
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
  }

/* Anclaje de la Barra de Navegacion */
  nav a {
    color: rgba(96, 93, 99, 0.966);
  }
  
  /* Para sacarle el subrayado a los enlaces */
  .opcionesnav{
    text-decoration: none;
  }

  nav a:hover {
    color: rgba(171, 137, 211, 0.966);
    border-bottom: 0.2rem solid rgba(171, 137, 211, 0.966);
  }

  a:link {
    color:rgb(182, 2, 182);
}

  a:visited {
    color: rgb(192, 67, 150);
}

/* Para separar las secciones del body */
  section {
    margin-bottom: 30rem;
  }
  
  /* SECCION INTRODUCION */
  #introduccion {
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgba(245, 245, 245, 0.753);
    border-radius: 50rem;
    padding: 0.01rem;
    border-style: none;
    font-size: 1.9rem;
  }
  
  /* Texto de introduccion */
  span{
    float: right;
    margin-top: 6rem;
    margin-right: 4rem;
    font-size: 1.2rem;
    background-color: rgba(245, 245, 245, 0.753);
    border-radius: 50rem;
    border-style:double;
    padding: 1.3rem;
  }
  
  /* Foto de introduccion */
#foto {
    width: 21.6565rem ;
    height: 17.7815rem;
    border-radius: 50%;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-width: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-style:solid;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    float:left;
    margin-left: 4rem;
}

/* Que seccion seria header???????? */
header {
    background-color: rgba(57, 5, 105, 0.966);
    color: rgb(165, 41, 182);    
}

/* Subtitulos vacios (*) */
#habilidades, #idiomas, #educacion, #experiencia, #proyectos {
  margin-bottom: 8rem;
  visibility: hidden;
}
/* (*) Se arregla el problema de que al ir a una seccion desde la barra de navegacion, no quede tapado el titulo de esa seccion por la navbar. 
Creé un h2 vacio sin visibilidad, el cual es al que nos redirige la anchor de la navbar y que aplicando este margen permite ver el h2 real de la seccion */

/* IDs del body excepto navbar.*/
#introduccion, span, #skills, #lang, #edu, #exp, #projects {
    color:rgb(91, 19, 94);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
    /* margin-top: 2.5rem; */
}

/* SUBTITULOS: Habilidades, Idiomas, Educacion, Experiencia, Proyectos */
.subtitulos {
  margin-bottom: 5rem;
  background-color: rgba(245, 245, 245, 0.753);
  border-radius: 50rem;
   padding: 0.5rem;
  border-style: none;
  text-align: center;
  max-width: 68.75rem;
  margin: auto;
  color:rgb(91, 19, 94);
}

/*SECCION HABILIDADES */
#skills{
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 15rem;
}

/* Subtitulos dentro de Habilidades */
h3{
  margin-bottom: 3rem; 
  background-color: rgba(245, 245, 245, 0.753);
  border-radius: 50rem;
   padding: 0.1rem;
  border-style: none;
  margin:auto;
  max-width: 10rem;
}

/* Logos de las habilidades */
.devlogos{
  width: 6.6rem;
  height: 9.4rem;
  padding: 0.7rem;
  background-color: white;
  border-radius: 50%;
    border-color: white;
    border-style:solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

/* #tabladev {
  background-color:rgba(223, 208, 238, 0.966);
  table-layout: fixed;
  border-collapse: collapse;
} */

/* SECCION IDIOMAS */
#lang{
  margin-bottom: 15rem;
}

/* Logos de idiomas */
#banderas{
  margin-left: 30rem;
  margin-top: 3rem;
  margin-right: 30rem;
}
.langlogos{
  height: 8.9rem;
  width: 9.4rem;
  padding: 0.7rem;
  background-color: white;
  border-radius: 50%;
    border-color: white;
    border-style:solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}	

/* SECCION EDUCACION */

/* SECCION EXPERIENCIA */
#edu p {
  color: black;
  background-color: rgba(245, 245, 245, 0.753);
margin-left: 5.8rem;
margin-right: 5.8rem;
margin-top: 2rem;
}
/* Tabla de Experiencia */
#tablaexp {
  display: flexbox;
  background-color: rgba(245, 245, 245, 0.753);
  color: rgb(0, 0, 0);
  border-style: hidden;
  border-collapse: separate;
  table-layout: fixed;
  margin: 0 auto;
  margin-top: 4rem;
  border-spacing: 1rem;
  
}

th {
  border-width: 0.15rem;
  border-style:hidden;
  margin-left: 5rem;
  font-size: large;
}

td {
  border-width: 0.15rem;
  border-style: hidden;
  
}

tr {
  border-width: 0.15rem;
  border-style: hidden;
  text-align: start;
  font-size: 1.1rem;
}	



/* SECCION PROYECTOS */

/* Tabla de Proyectos */
#tablaproj {
  background-color: rgba(130, 118, 160, 0.966);
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* SECCION CONTACTO */

/*FOOTER */
footer {
  background-color: rgba(206, 175, 238, 0.829);
  color: rgba(97, 5, 105, 0.966);
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#float-end {
  float: right;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color:blue;
}

/* ----------------------FIN--------------------------- */

/* FALTA:
SECCION IDIOMAS
SECCION EDUCACION
SECCION EXPERIENCIA
SECCION PROYECTOS
SECCION CONTACTO
FOOTER */

/* Revisar el orden del codigo */